// Start Vars

@background-color: #FFFFFF;
@dark-border-style: 1px #333 solid;
@light-border-style: 1px #999 solid;
@border-radius: 10px;
@compensate-border-radius: @border-radius - 2;
@smaller-border: @border-radius / 2;

// Start Mixins

.backgrounds {
	@primary-color: #7D7E7D;
	@secondary-color: #0E0E0E;
	@tertiary-color: #DDD;
	
	.dark-to-light {
		.virt {
			background: @primary-color;			
			background: -moz-linear-gradient(top, @secondary-color 0%, @primary-color 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@secondary-color), color-stop(100%,@primary-color));
		}
		
		.horiz {
			background: @primary-color;
			background: -moz-linear-gradient(left, @secondary-color 0%, @primary-color 100%);
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,@secondary-color), color-stop(100%,@primary-color));
		}
	}
	
	.light-to-dark {
		background: @primary-color;
		background: -moz-linear-gradient(top, @primary-color 0%, @secondary-color 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@primary-color), color-stop(100%,@secondary-color));
	
		.blown {
			background: @secondary-color;
			background: -moz-linear-gradient(top, @tertiary-color 0%, @primary-color 50%, @secondary-color 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@tertiary-color), color-stop(50%,@primary-color), color-stop(100%,@secondary-color));
		}
	}
	
	.shadow {
		.short {
			background: @background-color;
			background: -moz-linear-gradient(top, @secondary-color 0%, @background-color 60%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@secondary-color), color-stop(60%,#FFFFFF));
		}
	}
}

// Start Styling

body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: 0.9em;
	line-height: 1.8em;
	margin: 0px;
	padding: 0px;
}

a {
	&:link, &:visited {
		color: #000;
	}
	
	&:hover, &:active {
		color: #999;
	}
}

header {
	@heading-margins: 20px 10px 20px 10px;
	@heading-height: 35px;
	
	h1 {
		height: @heading-height;
		line-height: @heading-height;
		margin: @heading-margins;

		text-shadow: 1px 1px 1px #CCC;
	}
	
	.session {
		display: block;
		position: absolute;
		right: 0px;
		top: 0px;
		height: @heading-height;
		line-height: @heading-height;
		margin: @heading-margins;
	}
}

nav {
  ul {
    padding: 0px;
    margin: 0px 0px 0px 10px;
		height: 30px;
		line-height: 30px;
    
    li {
			display: inline;
		}
		
		a {
			&:link, &:visited {
				color: #FFF;
				text-decoration:none;
				
				font-size: 14px;
				
				padding: 7px 12px 7px 12px;
				margin: 0px -3px 0px 0px;
				      	
				border-top: @dark-border-style;
				border-left: @dark-border-style;
				border-right: @dark-border-style;
				
				-moz-border-radius-topleft: @border-radius;
				-moz-border-radius-topright: @border-radius;
				border-top-left-radius: @border-radius;
				border-top-right-radius: @border-radius;
      	
				.backgrounds > .dark-to-light > .virt;
				
				&.active {
					.backgrounds > .light-to-dark;
				}
			}
			
			&:hover, &:active {
				color: #EEE;

				.backgrounds > .light-to-dark > .blown;
			}
		}	
  }
}

#shadow {
	height: 10px;

	.backgrounds > .shadow > .short;
}

#content {
	padding: 0px 10px 0px 10px;
	width: 750px;
	float: left;
	
	p {
		&.bordered {
			margin: 10px 10px 10px 10px;
			padding: 3px 10px 3px 10px;
			border: @dark-border-style;
			-moz-border-radius: @border-radius;
			border-radius: @border-radius;
		}
	}
	
	table {
		margin: 10px;
		border-spacing: 0px;
		width: 730px;
		
		border: @dark-border-style;
		
		-moz-border-radius: @border-radius;
		border-radius: @border-radius;
		
		tr {
			&.alternate {
				background-color: #EEE;
			}
			
			th {
				padding: 3px 10px 3px 10px;
				color: #FFF;
				
				text-align: left;
				
				.backgrounds > .dark-to-light > .virt;
				
				&:first-child {
					-moz-border-radius-topleft: @compensate-border-radius;
					border-top-left-radius: @compensate-border-radius;
					
					-moz-border-radius-bottomleft: @border-radius;
					border-bottom-left-radius: @border-radius;
					
				}
				
				&:last-child {
					-moz-border-radius-topright: @compensate-border-radius;
					border-top-right-radius: @compensate-border-radius;
					
					-moz-border-radius-bottomright: @border-radius;
					border-bottom-right-radius: @border-radius;
				}
			}
			
			td {
				padding: 3px 10px 3px 10px;
				
				border-right: @light-border-style;
				
				&:first-child {
					-moz-border-radius-bottomleft: @border-radius;
					border-bottom-left-radius: @border-radius;
					
					-moz-border-radius-topleft: @border-radius;
					border-top-left-radius: @border-radius;
				}
				
				&:last-child {
					border-right: none;
					
					-moz-border-radius-bottomright: @border-radius;
					border-bottom-right-radius: @border-radius;
					
					-moz-border-radius-topright: @border-radius;
					border-top-right-radius: @border-radius;
				}
			}
		}
	}
	
	form {
		.note {
			color: #999;
			font-size: small;
		}
		
		select {
			margin: 0px 10px 0px 10px;
			padding: 3px;
			font-size: 1.1em;
			
			-moz-border-radius: @smaller-border;
			border-radius: @smaller-border;
			
			border: @light-border-style;
		}
		
		textarea {
			&.normal {
				font-family: monospace;

				margin: 0px 10px 0px 10px;
				padding: 3px;
				font-size: 1.1em;

				width: 700px;
				height: 200px;

				-moz-border-radius: @smaller-border;
				border-radius: @smaller-border;

				border: @light-border-style;
			}
		}
		
		input[type="file"] {
			margin: 0px 0px 0px 10px;
			padding: 3px;
			font-size: 1.1em;
		}
	
		input[type="text"], input[type="password"], input[type="email"] {
			margin: 0px 10px 0px 10px;
			padding: 3px;
			font-size: 1.1em;
			
			width: 700px;
			
			-moz-border-radius: @smaller-border;
			border-radius: @smaller-border;
			
			border: @light-border-style;
		}
		
		input[type="checkbox"] {
			margin: 0px 10px 0px 10px;
		}
		
		input[type="submit"] {
			padding: 5px 20px 5px 20px;
			
			color: #FFF;
			font-size: 1.1em;
			
			border: @dark-border-style;
			-moz-border-radius: @smaller-border;
			border-radius: @smaller-border;
			
			.backgrounds > .light-to-dark;
			
			&:hover {
				color: #EEE;

				.backgrounds > .light-to-dark > .blown;

				cursor: pointer;
			}
		}

		.markItUp {
			margin: 0px 10px 0px 10px;
		}
		
		fieldset {
			margin: 10px;
			padding: 0px 0px 10px 0px;
			
			border: @dark-border-style;
			
			-moz-border-radius: @border-radius;
			border-radius: @border-radius;
			
			input[type="submit"] {
				margin: 10px 10px 0px 10px;
			}
			
			a {
				&.cancel {
					padding: 5px 20px 5px 20px;

					color: #FFF;
					font-size: 1.1em;
					text-decoration: none;

					border: @dark-border-style;
					-moz-border-radius: @smaller-border;
					border-radius: @smaller-border;

					.backgrounds > .light-to-dark;
				
					&:hover {
						color: #EEE;

						.backgrounds > .light-to-dark > .blown;

						cursor: pointer;
					}
				}
			}

			label {
				&.block {
					color: #FFF;

					padding: 3px 10px 3px 10px;
					margin-bottom: 10px;

					display: block;
					background-color: #000;

					-moz-border-radius-topleft: @compensate-border-radius;
					-moz-border-radius-topright: @compensate-border-radius;
					border-top-left-radius: @compensate-border-radius;
					border-top-right-radius: @compensate-border-radius;

					.backgrounds > .dark-to-light > .virt;

					&.mid {
						margin-top: 10px;

						-moz-border-radius: 0px;
						border-radius: 0px;
					}

					&:after {
						content: "";
					}
				}
			}
		}
		
		table {
			margin: 10px;
			padding: 0px;

			display: block;

			border-top: @dark-border-style;
			border-right: @dark-border-style;
			border-bottom: @dark-border-style;
			border-left: none;

			-moz-border-radius: @border-radius;
			border-radius: @border-radius;
			
			border-spacing: 0px;
			
			tr {
				td {
					&:last-child {
						padding: 10px 0px 10px 0px;

						input[type="text"], input[type="password"], input[type="email"] {
							width: 610px;
							
							&.noted {
								width: 250px;
							}
						}
					}
					
					&:first-child {
						padding: 3px 10px 3px 10px;

						color: #FFF;
						background-color: #000;		

						-moz-border-radius-topleft: @compensate-border-radius;
						-moz-border-radius-bottomleft: @compensate-border-radius;
						border-top-left-radius: @compensate-border-radius;
						border-bottom-left-radius: @compensate-border-radius;

						.backgrounds > .dark-to-light > .horiz;
					}
				}
			}
		}
		
		#error_explanation {
			margin: 10px 10px 10px 10px;
			padding: 3px 10px 3px 10px;
			background-color: #FFCCCC;
			border: 2px #D57878 solid;
			-moz-border-radius: @border-radius;
			border-radius: @border-radius;

			h2 {
				margin: 0px;
				padding: 0px;
				font-size: 1em;
			}

			ul {
				padding: 0px;
				margin: 10px 0px 10px 40px;
			}
		}
	}
		
	label:after {
		content: ": ";
	}
	
	#notice {
		margin: 10px 10px 10px 10px;
		background-color: #CCFFCC;
		border: 2px #72D072 solid;
		color: #000000;
		-moz-border-radius: @border-radius;
		border-radius: @border-radius;
		
		p {
			margin: 0px;
			padding: 5px 10px 5px 10px;
		}
	}
}

#sidebar {
	margin: 10px 20px 0px 760px;
	padding: 0px 0px 10px 0px;
	
	border: @dark-border-style;
	
	-moz-border-radius: @border-radius;
	border-radius: @border-radius;
	
	h2 {
		font-size: 1em;
		font-weight: normal;
		
		color: #FFF;

		padding: 3px 10px 3px 10px;
		margin: 0px 0px 10px 0px;

		display: block;
		background-color: #000;

		-moz-border-radius-topleft: @compensate-border-radius;
		-moz-border-radius-topright: @compensate-border-radius;
		border-top-left-radius: @compensate-border-radius;
		border-top-right-radius: @compensate-border-radius;

		.backgrounds > .dark-to-light > .virt;
	}
	
	p {
		margin: 0px 10px 0px 10px;
		padding: 0px;
	}
}
