<%= form_for :setting, :url => {:action => "update"}, :html => {:method => :put, :class => "form-horizontal"} do |f| %>
    <fieldset>
      <% for setting in @settings %>
          <div class="control-group">
            <%= f.label setting.id, setting.human_readable, :class => "control-label" %>
            <div class="controls">
              <%= field_for(setting, f) %>
            </div>
          </div>

      <% end %>

      <div class="form-actions">
        <%= f.submit "Save", :class => ["btn", "btn-primary"] %>
      </div>
    </fieldset>
<% end %>
