<h2>Settings</h2>

<%= form_for :setting, :url => { :action => "update" }, :html => { :method => :put } do |f| %>
  <table>
    <% for setting in @settings %>
      <tr>
        <td><%= f.label setting.id, setting.human_readable %></td>
        <td><%= field_for(setting, f) %></td>
      </tr>
    <% end %>
  </table>

  <%= f.submit "Save Settings" %>
<% end %>
