/*
 *= require jquery.ui.datepicker
 *= require jquery.ui.slider
 *= require twitter/bootstrap
 *= require twitter/bootstrap-responsive
*/

body {
  margin-top: 20px;
}

.text-center {
  text-align: center !important;
}

.markItUp(@width) {
  .markItUp {
    width: @width !important;
  }

  .markItUpEditor {
  	width: (@width - 58px) !important;
  }
}

@media (min-width: 1200px) {
  @width:800px;
  .markItUp(@width);
}

@media (min-width: 768px) and (max-width: 979px) {
  @width: 535px;
  .markItUp(@width);
}

@media (max-width: 767px) {
  @width: 440px;
  .markItUp(@width);
}


@media (max-width: 480px) {
  @width: 280px;
  .markItUp(@width);
}
